/* HomePage.css */
.homepage-background {
    height: 100vh; /* Full height of the viewport */
    background-color: #f4e7d3; /* Sandy beige background color */
    background-image: url('../../public/images/TIEfighter.png'); /* Corrected path for background image */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    position: relative; /* Needed for absolute positioning of child elements */
}

.text-overlay {
    position: absolute;
    top: calc(50% - 20px); /* Adjusted for vertical centering */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust to center the text exactly */
    font-family: 'SfDistantGalaxyAlternate', sans-serif; /* Assuming this is the alternate font */
    color: #724531; /* Text color */
    text-align: center; /* Center text */
    font-size: 4em; /* Larger font size */
    padding: 20px; /* Padding around the text */
    background-color: rgba(253, 244, 232, 0.8); /* Semi-transparent background */
    border-radius: 10px; /* Rounded corners for the background */
}

.symbol-overlay {
    position: absolute;
    top: calc(50% + 85px); /* Positioned below the text-overlay */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust to center the text exactly */
    font-family: 'DroidobeshDepot', sans-serif; /* Assuming this is the symbols font */
    color: #724531; /* Text color */
    text-align: center; /* Center text */
    font-size: 1.5em; /* Smaller font size */
    padding: 20px; /* Padding around the text */
    background-color: rgba(253, 244, 232, 0.8); /* Semi-transparent background */
    border-radius: 10px; /* Rounded corners for the background */
}